<!doctype html>
<html lang="en" dir="ltr">
  <head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		<meta name="msapplication-TileColor" content="#0061da">
		<meta name="theme-color" content="#1643a3">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<link rel="icon" href="favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
		
		<!-- Title -->
		<title>underground.botnet.biz - Portal login</title>
		<link rel="stylesheet" href="assets/fonts/fonts/font-awesome.min.css">
		
		<!-- Font Family -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
		
		<!-- Custom scroll bar css-->
                <link href="{$basePath}/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />
		
		<!-- Dashboard Css -->
		<link href="{$basePath}/assets/css/dashboard.css" rel="stylesheet" />
		
		<!-- c3.js Charts Plugin -->
		<link href="{$basePath}/assets/plugins/charts-c3/c3-chart.css" rel="stylesheet" />
		
		<!---Font icons-->
		<link href="{$basePath}/assets/plugins/iconfonts/plugin.css" rel="stylesheet" />
	
  </head>
	<body class="login-img">
		<div id="global-loader" ></div>
		<div class="page">
			<div class="page-single">
				<div class="container">
					<div class="row">
						<div class="col col-login mx-auto">
							<div class="text-center mb-6">
								{* <img src="{$basePath}/assets/images/brand/logo-dark.png" class="h-6" alt=""> *}
							</div>
                                                        {form loginForm, class => "card"}
							{* <form class="card" method="post"> *}
								<div class="card-body p-6">
									<div class="card-title text-center">Přihlaste se</div>
                                                                        <div class="form-group">
                                                                            <center>
                                                                            {foreach $presenter['loginForm']->errors as $error}
                                                                                {$error}
                                                                                <br>
                                                                                <br>
                                                                            {/foreach}
                                                                            </center>
                                                                        </div>
									<div class="form-group">
										{* <label class="form-label">Emailová adresa</label>
										<input type="email" class="form-control" id="exampleInputEmail1"  placeholder="Zadejte email"> *}
                                                                                
                                                                                {label email, class => "form-label" /}
                                                                                {input email, class => "form-control", placeholder => "Zadejte email"}
									</div>
									<div class="form-group">
										{*<label class="form-label">Heslo
											<a href="./forgot-password.html" class="float-right small">Zapomněl jsem heslo</a>
										</label>
										<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Heslo">
                                                                                *}
                                                                                {label pass, class => "form-label" /}
                                                                                {input pass, class => "form-control", placeholder => "Zadejte heslo" }
									</div>
									<div class="form-group">
										<label class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" />
											<span class="custom-control-label">Zapamatovat si mně</span>
										</label>
									</div>
									<div class="form-footer">
										{* <button type="submit" class="btn btn-primary btn-block">Přihlásit se</button> *}
                                                                                
                                                                                {input log, class => "btn btn-primary btn-block" }
									</div>
									<div class="text-center text-muted mt-3">
										Nemáte účet? <a n:href="Register:default">Registrovat</a>
									</div>
								</div>
                                                        {/form}
							{*</form>*}
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<!-- Dashboard js -->
		<script src="{$basePath}/assets/js/vendors/jquery-3.2.1.min.js"></script>
		<script src="{$basePath}/assets/js/vendors/bootstrap.bundle.min.js"></script>
		<script src="{$basePath}/assets/js/vendors/jquery.sparkline.min.js"></script>
		<script src="{$basePath}/assets/js/vendors/selectize.min.js"></script>
		<script src="{$basePath}/assets/js/vendors/jquery.tablesorter.min.js"></script>
		<script src="{$basePath}/assets/js/vendors/circle-progress.min.js"></script>
		<script src="{$basePath}/assets/plugins/rating/jquery.rating-stars.js"></script>
		
		<!-- Custom scroll bar Js-->
		<script src="{$basePath}/assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>
		
		<!-- custom js -->
		<script src="{$basePath}/assets/js/custom.js"></script>
	</body>
</html>
